.map {
	position: relative;
	size: 650px;	
    margin: 0;
}
.map-point-one button{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.map-point-two button{
	position: absolute;
	bottom:30px;
	right:30px;
}